<DOCTYPE html>
<html>
<head>
  <title>Vue Demo #1: The Box App</title>
  <meta charset='utf-8' />
  <script src="/data/vue.js"></script>
</head>
<style type="text/css">
  body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
  }

  .bg {
    /* The image used */
    background-image: url("/data/bckg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container{
    margin: 0px auto;
    width:100%;
    height:100%;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .box{
    /*background-color:#e9e9e9e9;*/
    padding:20px;
    border-radius:10px;
    color:#e9e9e9;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: 30vh;
    font-family:sans-serif;
    -webkit-text-stroke: 3px black;
  }

</style>
<body class="bg">
<!-- <body> -->
  <div id="vapp" class="container">
    <div class="box">{{ backend_data["0"] }}</div>
    <div class="box">{{ backend_data["1"] }}</div>
    <div class="box">{{ backend_data["2"] }}</div>
    <div class="box">{{ backend_data["3"] }}</div>
  </div>
<!-- Our View App goes at the end of the document -->
<script>
const vueApp = new Vue({
  el: '#vapp',
  data: { 
   display: 'PEPA',
   backend_data: null,
  },
  methods: {
    getBackendData:function () {
      fetch("/data/encoder_data",{
        headers: {
          accept: "application/json",
        },
      })
      .then(res => res.text())
        .then(res => {
          console.log(res);
          this.backend_data=JSON.parse(res);
        });
    }
  },
  mounted: function () {
    //Initial Load
    this.getBackendData();
    //Run every 5 seconds
    var getBackendData = () => {
        this.getBackendData();
        // Do stuff
        setTimeout(getBackendData, 5000);
    };
    setTimeout(getBackendData,5000);
  }
})
</script>
</body>
</html>